<div class="event-photo buffer-both mr-1">

  <% image_user = " #{t('controllers.photos.added')} #{render partial: 'users/user', object: photo.user} #{draw_delete_photo_basket?(@event, photo)}" %>
  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url,
              data: { title: image_user, toggle: "lightbox", gallery: "img-gallery" } %>
</div>